@import "../abstracts/variables";

.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
	backdrop-filter: blur(10px);
	background-color: rgba($color-black, $alpha: .8);

	@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
		-webkit-backdrop-filter: blur(10px);
		background-color: rgba($color-black, $alpha: .3);
		backdrop-filter: blur(10px);
	}

	&__content {
		width: 75%;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, $alpha: .2);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.25);
		border-radius: 3px;
		display: table;
		overflow: hidden;
		transition: all .3s ease-in-out;
	}

	&:target {
		opacity: 1;
		visibility: visible;
	}

	&:target &__content {
		transform: translate(-50%, -50%) scale(1);
	}

	&__left {
		width: 33.33%;
		// float: left;
		display: table-cell;
	}

	&__right {
		width: 66.6667%;
		// float: left;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem 5rem;
	}

	&__img {
		display: block;
		width: 100%;
	}

	&__text {
		font-size: 1.4rem;
		margin-bottom: 4rem;

		-moz-column-count: 2;
		-moz-column-gap: 3rem;
		-moz-column-rule: 1px solid $color-dark-grey-2;

		column-count: 2;
		column-gap: 3rem;
		column-rule: 1px solid $color-dark-grey-2;

		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}

	&__close {
		&:link,
		&:visited {
			color: $color-dark-grey-2;
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			text-decoration: none;
			font-size: 3rem;
		}

		&:hover,
		&:active {
			color: $color-primary;
		}
	}
}
